Documentation/MediaHashList_v0_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs2="http://www.w3.org/2000/09/xmldsig#">

<!-- imports -->
<xs:import schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />

<!-- definition of types -->
<xs:simpleType name="md5Type">
	<xs:restriction base="xs:hexBinary">
		<xs:length value="16"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="sha1Type">
	<xs:restriction base="xs:hexBinary">
		<xs:length value="20"/>
	</xs:restriction>
</xs:simpleType>


<xs:simpleType name="versionType">
	<xs:restriction base="xs:decimal">
		<xs:fractionDigits value="1"/>
		<xs:minInclusive value="0"/>
	</xs:restriction>
</xs:simpleType>

<!-- definition of simple elements -->
<xs:element name="creationdate" type="xs:dateTime"/>
<xs:element name="file" type="xs:string"/>
<xs:element name="size" type="xs:positiveInteger"/>
<xs:element name="lastmodificationdate" type="xs:dateTime"/>
<xs:element name="hashdate" type="xs:dateTime"/>

<xs:element name="name" type="xs:string"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="hostname" type="xs:string"/>
<xs:element name="tool" type="xs:string"/>
<xs:element name="source" type="xs:string"/>
<xs:element name="startdate" type="xs:dateTime"/>
<xs:element name="finishdate" type="xs:dateTime"/>
<xs:element name="log" type="xs:string"/>

<!-- definition of attributes -->
<xs:attribute name="version" type="versionType" />
<!--bit and encode will be removed for now
<xs:attribute name="bit" type="xs:string"/>
<xs:attribute name="encoding" type="xs:string"/>-->
<xs:attribute name="referencehhashlist" type="xs:boolean" />

<!-- definition of complex elements -->
<xs:element name="md5">
  <xs:complexType>
    <xs:simpleContent>
      	<xs:extension base="md5Type">
      		<!--bit and encoding were changed to optional, before they were required-->
        	<!-- <xs:attribute ref="bit" use="required"/>
      		<xs:attribute ref="encoding" use="required"/> -->
      		<!-- bit and encode will be removed for now 
      		<xs:attribute ref="bit"/>
      		<xs:attribute ref="encoding"/>-->
      	</xs:extension>  
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="sha1">
  <xs:complexType>
    <xs:simpleContent>
      	<xs:extension base="sha1Type">
      		<!--bit and encoding were changed to optional, before they were required-->
        	<!-- <xs:attribute ref="bit" use="required"/>
      		<xs:attribute ref="encoding" use="required"/> -->
      		<!--<xs:attribute ref="bit"/>
      		<xs:attribute ref="encoding"/>-->
      	</xs:extension>  
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="creatorinfo">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="name" minOccurs="0" maxOccurs ="1"/>      
      <xs:element ref="username" minOccurs="1" maxOccurs ="1"/>
      <xs:element ref="hostname" minOccurs="1" maxOccurs ="1"/>
      <xs:element ref="tool" minOccurs="1" maxOccurs ="1"/>
      <xs:element ref="source" minOccurs="0" maxOccurs ="1"/>
      <xs:element ref="startdate" minOccurs="1" maxOccurs ="1"/>
      <xs:element ref="finishdate" minOccurs="1" maxOccurs ="1"/>
      <xs:element ref="log" minOccurs="0" maxOccurs ="1" />
    </xs:sequence>
  </xs:complexType>
</xs:element>


<xs:complexType name="AAA"> 
    <xs:choice maxOccurs="2"> 
      <xs:element ref="md5" minOccurs="1" maxOccurs="1"/> 
      <xs:element ref="sha1" minOccurs="1" maxOccurs="1"/> 
    </xs:choice> 
  </xs:complexType> 

  <xs:complexType name="BBB"> 
    <xs:complexContent> 
      <xs:restriction base="AAA"> 
        <xs:choice maxOccurs="1"> 
          <xs:element ref="md5" minOccurs="1" maxOccurs="1"/> 
          <xs:element ref="sha1" minOccurs="1" maxOccurs="1"/> 
        </xs:choice> 
      </xs:restriction> 
    </xs:complexContent> 
  </xs:complexType> 


<xs:element name="hash">
	<xs:complexType>
		<xs:sequence>
      		<xs:element ref="file" minOccurs="1" maxOccurs="1"/>
      		<xs:element ref="size" minOccurs="1" maxOccurs="1"/>
      		<xs:element ref="creationdate" minOccurs="0" maxOccurs="1"/>
      		<xs:element ref="lastmodificationdate"/>
      		<xs:choice>
      			<xs:sequence>
      				<xs:element ref="md5" />
      				<xs:element ref="sha1" minOccurs="0"/>
      			</xs:sequence>
      			<xs:sequence>
      				<xs:element ref="sha1" />
      				<xs:element ref="md5" minOccurs="0"/>
      			</xs:sequence>			
     		</xs:choice>
     		<xs:element ref="hashdate" />
     	</xs:sequence>
		<xs:attribute ref="referencehhashlist"/>
	</xs:complexType>
</xs:element>

<xs:element name="hashlist">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="creationdate" minOccurs ="0" maxOccurs ="1"/>
      <!-- Mandatory Field -->
      <xs:element ref="creatorinfo" minOccurs ="1" maxOccurs ="1"/>
      <xs:element ref="hash"  minOccurs ="1" maxOccurs="unbounded"/>
      <xs:element ref="xs2:Signature" minOccurs = "0" maxOccurs ="1"/>      
    </xs:sequence>
    <xs:attribute ref="version" use="required"/>
  </xs:complexType>
</xs:element>

</xs:schema>